@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 11, 11, 11;
  --background-end-rgb: 11, 11, 11;
  --accentLightest: hsla(227, 87%, 59%, 0.3);
  --accentLighter: hsla(227, 87%, 50%, 0.3);
  --accent: #103fef;
  --accentDark: #0d33bf;
  --accentDarker: #0a268f;
  --primary: #c416c4;
  --secondary: #8f75d7;
  --tertiary: #6ba93e;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.modal::-webkit-scrollbar-track {
  border-radius: 16px;
}

.modal::-webkit-scrollbar {
  width: 12px;
}

.modal::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #3d3d3d;
}

@media only screen and (max-width: 768px) {
  .modal::-webkit-scrollbar {
    width: 8px;
  }
}

.converse {
  text-shadow:
    /* 0px 0px 0px #026ee2, */
    -0px 0px 0px #e2e202,
    -4px 4px 0px #de8e0c,
    -8px 8px 0px #e20202;
}


.marquee {
    font-size: 2vw;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    height: 2.5vw;
    overflow: hidden;
    background-color: #000;
    position: relative;
}
/* nested div inside the container */
.marquee div {
    display: block;
    width: 200%;
    position: absolute; 
    overflow: hidden;
    animation: marquee 12s linear infinite;
}
/* span with text */
.marquee span {
    float: left;
    width: 50%;
}
/* keyframe */
@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}