.input_div {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .text_input {
    all: unset;
    position: relative;
    width: 100%;
    height: 2rem;
    margin: 10px 0;
    font-size: 15px;
    border-bottom: 2px gray solid;
    transition: border-bottom-color 500ms;
  }
  
  .text_input:focus {
    border-bottom-color: white;
  }
  
  .text_input:focus:invalid {
    border-bottom-color: #fc2947;
  }
  .text_input:focus:valid {
    border-bottom-color: #16ff0090;
  }
  
  .text_input:autofill,
  .text_input:-webkit-autofill {
    border-bottom-color: orange;
  }
  
  .eye_button {
    position: absolute;
    right: 1%;
    cursor: pointer;
  }
  
  .eye_button > * {
    fill: white;
  }
  